.footer_wrapper {
  background-color: #7711dd;
  padding: 2rem 3rem;
  border-top: 3px solid #510d95;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.btn_play {
  display: inline-block;
  padding: 0.8rem 5rem;
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 0 #2a2020;
  cursor: pointer;
  transition: transform 0.1s ease;
  background-color: #ffbe0b;
  color: #1a1a1a;
}

.btn_test {
  display: inline-block;
  padding: 0.8rem 5rem;
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 0 #2a2020;
  cursor: pointer;
  transition: transform 0.1s ease;
  background-color: white;
  color: #1a1a1a;
}

.btn_play:hover,
.btn_test:hover {
  transform: translateY(4px);
  box-shadow: 0 4px 0 #2a2020;
}

@media (max-width: 1440px) {
  .btn_play,
  .btn_test {
    padding: 0.5rem 4rem;
    margin-right: 20px;
    font-size: 22px;
  }

  .btn_test {
    margin: 0;
  }
}

@media (max-width: 820px) {
  .footer {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 4rem;
  }

  .btns {
    display: flex;
    justify-content: end;
  }
}

@media (max-width: 575px) {
  .btn_play,
  .btn_test {
    padding: 0.5rem 3rem;
    margin-right: 20px;
    font-size: 18px;
  }

  .btn_test {
    margin: 0;
  }
}

@media (max-width: 440px) {
  .logo img {
    width: 200px;
  }
  .footer_wrapper {
    padding: 2rem 2rem;
  }
}

@media (max-width: 380px) {
  .btns {
    flex-direction: column;
  }
  .btn_play {
    margin-bottom: 1.5rem;
  }
}
